.Rhistory
.SpaceVim.d/
.SpaceVim/
.Xauthority
.cache/
.config/BraveSoftware/
.config/Code - OSS/
.config/Electron/
.config/GitHub Desktop/
.config/KDE/
.config/Kvantum/
.config/Mullvad VPN/
.config/QtProject.conf
.config/RStudio/
.config/RStudiorc
.config/Slack/
.config/Trolltech.conf
.config/Unknown Organization/
.config/akregatorrc
.config/alacritty/
.config/arkrc
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/bleachbit/
.config/bluedevilglobalrc
.config/chromium
.config/chromium-backup/
.config/dconf/
.config/deluge/
.config/discord/
.config/discoverrc
.config/dolphinrc
.config/dragonplayerrc
.config/drkonqirc
.config/emaildefaults
.config/falkon/
.config/garuda/
.config/google-chrome
.config/google-chrome-backup-crashrecovery-20220726_180806/
.config/google-chrome-backup-crashrecovery-20221020_133204/
.config/google-chrome-backup/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/guvcview2/
.config/gwe/
.config/gwenviewrc
.config/htop/
.config/jamesdsp/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kamosorc
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kded_device_automounterrc
.config/kdedefaults/
.config/kdeglobals
.config/kdenliverc
.config/kfontinstuirc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kmixrc
.config/knfsshare
.config/konsolerc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksnip/
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/latte/
.config/lattedockrc
.config/libaccounts-glib/
.config/libinput-gestures.conf
.config/libreoffice/
.config/micro/
.config/mimeapps.list
.config/mpv/
.config/neofetch/
.config/octopi/
.config/okularpartrc
.config/okularrc
.config/pamac/
.config/partitionmanagerrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/psd/
.config/pulse/
.config/pulseaudio-ctl/
.config/qBittorrent/
.config/qutebrowser/
.config/rstudio/
.config/session/
.config/smplayer/
.config/soffice.binrc
.config/spectaclerc
.config/spotify/
.config/starship.toml
.config/strawberry/
.config/systemmonitorrc
.config/systemsettingsrc
.config/touchpadrc
.config/touchpadxlibinputrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/variety/
.config/vlc/
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
.config/zoomus.conf
.dropbox-dist/
.dropbox/
.firedragon/
.fonts.conf
.gitconfig
.gitignore_global
.gtkrc-2.0
.ipython/
.kde4/
.local/
.npm/
.nvidia-settings-rc
.pki/
.profile
.pymol/
.python_history
.ssh/
.subversion/
.viminfo
.vscode-oss/
.wget-hsts
.xinitrc
.zoom/
6tm6.cif
Desktop/
Documents/
Downloads/
Dropbox/
Pictures/
R/
coding-challenges/
test.md
testdir/
writing/
