../../.Rhistor
../../.SpaceVim.d/
../../.SpaceVim/
../../.Xauthority
../../.bash_history
../../.bash_logout
../../.bash_profile
../../.bashrc
../../.cache/
../BraveSoftware/
../Code - OSS/
../Electron/
../GitHub Desktop/
../KDE/
../Kvantum/
../Mullvad VPN/
../QtProject.conf
../RStudio/
../RStudiorc
../Slack/
../Trolltech.conf
../Unknown Organization/
../akregatorrc
../alacritty/
../arkrc
../autostart/
../baloofileinformationrc
../baloofilerc
../bleachbit/
../bluedevilglobalrc
../chromium
../chromium-backup/
../dconf/
../deluge/
../discord/
../discoverrc
../dolphinrc
../dragonplayerrc
../drkonqirc
../emaildefaults
../falkon/
../fish/
../garuda/
../google-chrome
../google-chrome-backup-crashrecovery-20220726_180806/
../google-chrome-backup-crashrecovery-20221020_133204/
../google-chrome-backup/
../gtk-3.0/
../gtk-4.0/
../gtkrc
../gtkrc-2.0
../guvcview2/
../gwe/
../gwenviewrc
../htop/
../jamesdsp/
../kactivitymanagerd-statsrc
../kactivitymanagerdrc
../kamosorc
../katemetainfos
../katerc
../kateschemarc
../katevirc
../kcminputrc
../kconf_updaterc
../kde.org/
../kdeconnect/
../kded5rc
../kded_device_automounterrc
../kdedefaults/
../kdeglobals
../kdenliverc
../kfontinstuirc
../kgammarc
../kglobalshortcutsrc
../khotkeysrc
../kmixrc
../knfsshare
../konsolerc
../krunnerrc
../kscreenlockerrc
../ksmserverrc
../ksnip/
../ksplashrc
../ktimezonedrc
../kwalletrc
../kwinrc
../kwinrulesrc
../kxkbrc
../latte/
../lattedockrc
../libaccounts-glib/
../libinput-gestures.conf
../libreoffice/
../micro/
../mimeapps.list
../mpv/
../neofetch/
../octopi/
../okularpartrc
../okularrc
../pamac/
../partitionmanagerrc
../plasma-localerc
../plasma-org.kde.plasma.desktop-appletsrc
../plasmanotifyrc
../plasmarc
../plasmashellrc
../powerdevilrc
../powermanagementprofilesrc
../psd/
../pulse/
../pulseaudio-ctl/
../qBittorrent/
../qutebrowser/
../rstudio/
../session/
../smplayer/
../soffice.binrc
../spectaclerc
../spotify/
../starship.toml
../strawberry/
../systemmonitorrc
../systemsettingsrc
../touchpadrc
../touchpadxlibinputrc
../trashrc
../user-dirs.dirs
../user-dirs.locale
../variety/
../vlc/
../xdg-desktop-portal-kderc
../xsettingsd/
../zoomus.conf
../../.dropbox-dist/
../../.dropbox/
../../.firedragon/
../../.fonts.conf
../../.gitconfig
../../.gitignore_global
../../.gtkrc-2.0
../../.ipython/
../../.kde4/
../../.local/
../../.npm/
../../.nvidia-settings-rc
../../.pki/
../../.profile
../../.python_history
../../.ssh/
../../.subversion/
../../.viminfo
../../.vscode-oss/
../../.wget-hsts
../../.xinitrc
../../.zoom/
../../Desktop/
../../Documents/
../../Downloads/
../../Dropbox/
../../Pictures/
../../R/
../../coding-challenges/
../../datascience/
../../test.md
../../testdir/
../../writing/
